{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":18,"column":0},"end":{"row":18,"column":14},"action":"remove","lines":["pymongo==3.9.0"],"id":11}],[{"start":{"row":18,"column":0},"end":{"row":18,"column":23},"action":"insert","lines":["pymongo[tls,srv]==3.6.1"],"id":12}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":18,"column":23},"end":{"row":18,"column":23},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1578760677065,"hash":"8bbdb5882e99399e3778f8c7f30707d7c8e6c15c"}