{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":9,"column":13},"end":{"row":9,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"hash":"8bbdb5882e99399e3778f8c7f30707d7c8e6c15c","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":18,"column":0},"end":{"row":18,"column":14},"action":"remove","lines":["pymongo==3.9.0"],"id":11}],[{"start":{"row":18,"column":0},"end":{"row":18,"column":23},"action":"insert","lines":["pymongo[tls,srv]==3.6.1"],"id":12}]]},"timestamp":1578766276463}